
@{
    ViewData["Title"] = "SingleChoice";
}

<h2>Question choix Unique</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertSChoice">
            <div>
                <p>Question : </p>
                <input type="text"  id="Name"/> <br /><br />
                <div>
                    <input type="radio" id="S1" name="drone" value="NO">
                    <input type="text" />
                </div>
                <div>
                    <input type="radio" id="S2" name="drone" value="NO">
                    <input type="text" />
                </div>
                <div>
                    <input type="radio" id="S3" name="drone" value="NO">
                    <input type="text" />
                </div>
                <div>
                    <input type="radio" id="S4" name="drone" value="NO">
                    <input type="text" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

